Repository mathcovax/mon-enorme-tronc, pull requests merged in 2024-05, with the labels that each got.

#34 feat(26): formbuilder
  package-lock.json
  readme.md
  vue/auto-imports.d.ts
  vue/components.d.ts
  vue/eslint.config.mjs
  vue/package.json
  vue/src/App.vue
  vue/src/assets/base.css
  vue/src/assets/main.css
  vue/src/components/BurgerButton.vue
  vue/src/components/PrimaryInput.vue
  vue/src/components/ProductCard.vue
  vue/src/components/ui/combo-box/ComboBox.vue
  vue/src/components/ui/command/CommandDialog.vue
  vue/src/components/ui/command/CommandEmpty.vue
  vue/src/components/ui/command/CommandGroup.vue
  vue/src/components/ui/command/CommandInput.vue
  vue/src/components/ui/command/CommandItem.vue
  vue/src/components/ui/command/CommandList.vue
  vue/src/components/ui/command/CommandSeparator.vue
  vue/src/components/ui/command/CommandShortcut.vue
  vue/src/components/ui/command/TheCommand.vue
  vue/src/components/ui/command/index.ts
  vue/src/components/ui/dialog/DialogClose.vue
  vue/src/components/ui/dialog/DialogContent.vue
  vue/src/components/ui/dialog/DialogDescription.vue
  vue/src/components/ui/dialog/DialogFooter.vue
  vue/src/components/ui/dialog/DialogHeader.vue
  vue/src/components/ui/dialog/DialogScrollContent.vue
  vue/src/components/ui/dialog/DialogTitle.vue
  vue/src/components/ui/dialog/DialogTrigger.vue
  vue/src/components/ui/dialog/TheDialog.vue
  vue/src/components/ui/dialog/index.ts
  vue/src/components/ui/popover/PopoverContent.vue
  vue/src/components/ui/popover/PopoverTrigger.vue
  vue/src/components/ui/popover/ThePopover.vue
  vue/src/components/ui/popover/index.ts
  vue/src/components/ui/scroll-area/ScrollArea.vue
  vue/src/components/ui/toast/TheToaster.vue
  vue/src/composables/useFormBuilder/_inputs/ComboBoxInput.ts
  vue/src/composables/useFormBuilder/_inputs/NumberInput.ts
  vue/src/composables/useFormBuilder/_inputs/TextInput.ts
  vue/src/composables/useFormBuilder/index.ts
  vue/src/composables/useFormBuilder/readme.md
  vue/src/composables/useFormBuilder/types.d.ts
  vue/src/domains/auth/pages/LoginPage.vue
  vue/src/domains/edito/pages/HomePage.vue
  vue/src/domains/edito/pages/NotFound.vue
  vue/src/domains/navigation/components/TheFooter.vue
  vue/src/domains/navigation/components/TheHeader.vue
  vue/src/layouts/BaseLayout.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/zod/index.ts
  vue/tailwind.config.js
  vue/vite.config.ts
Labels: docs

#40 feat(32): add faker
  docker-compose.yml
  duplo/package.json
  duplo/src/fixtures/index.ts
  duplo/vitest.config.ts
  package-lock.json
  package.json
Labels: package

#47 feat(31): add route /category/{categoryName}/products
  duplo/src/checkers/category.test.ts
  duplo/src/checkers/category.ts
  duplo/src/fixtures/entities/category.ts
  duplo/src/fixtures/entities/parent_category.ts
  duplo/src/fixtures/entities/product.ts
  duplo/src/fixtures/entities/user.ts
  duplo/src/fixtures/index.ts
  duplo/src/fixtures/prismaClient.ts
  duplo/src/prisma/schema.prisma
  duplo/src/routes/category/{categoryName}/products.test.ts
  duplo/src/routes/category/{categoryName}/products.ts
  duplo/src/routes/register.test.ts
  package.json
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
Labels: package

#48 feat(25): add register page
  duplo/src/routes/geocoder.test.ts
  duplo/src/routes/geocoder.ts
  duplo/src/services/post.ts
  package-lock.json
  vue/auto-imports.d.ts
  vue/components.d.ts
  vue/eslint.config.mjs
  vue/src/components/PrimaryDateInput.vue
  vue/src/components/ui/checkbox/index.ts
  vue/src/composables/useFormBuilder/_inputs/CheckboxInput.ts
  vue/src/composables/useFormBuilder/_inputs/ComboBoxInput.ts
  vue/src/composables/useFormBuilder/_inputs/DateInput.ts
  vue/src/composables/useFormBuilder/_inputs/NumberInput.ts
  vue/src/composables/useFormBuilder/_inputs/TextInput.ts
  vue/src/composables/useFormBuilder/index.ts
  vue/src/composables/useFormBuilder/types.d.ts
  vue/src/domains/auth/composables/useSignUpForm.ts
  vue/src/domains/auth/pages/LoginPage.vue
  vue/src/domains/auth/pages/RegisterPage.vue
  vue/src/domains/auth/router.ts
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/index.ts
  vue/src/lib/i18n/languages/fr.ts
  vue/src/router/index.ts
  vue/vite.config.ts
Labels: feat, front, WIP

#61 feat(55): add ThePopup
  vue/components.d.ts
  vue/index.html
  vue/src/components/ThePopup.vue
  vue/src/domains/edito/pages/HomePage.vue
  vue/src/domains/navigation/components/TheHeader.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
Labels: front, WIP

#68 feat(52): organization users panel
  duplo/src/checkers/organization.test.ts
  duplo/src/checkers/organization.ts
  duplo/src/checkers/user.test.ts
  duplo/src/checkers/user.ts
  duplo/src/fixtures/index.ts
  duplo/src/prisma/schema.prisma
  duplo/src/routes/entry.test.ts
  duplo/src/routes/entry.ts
  duplo/src/routes/organization/index.test.ts
  duplo/src/routes/organization/index.ts
  duplo/src/routes/organization/{organizationId}/user/index.test.ts
  duplo/src/routes/organization/{organizationId}/user/index.ts
  duplo/src/routes/organization/{organizationId}/user/{userId}.test.ts
  duplo/src/routes/organization/{organizationId}/user/{userId}.ts
  duplo/src/routes/organization/{organizationId}/users.test.ts
  duplo/src/routes/organization/{organizationId}/users.ts
  duplo/src/schemas/organization.ts
  duplo/src/security/hasOrganizationRole.test.ts
  duplo/src/security/hasOrganizationRole.ts
  duplo/src/security/hasPrimordialRole.ts
  duplo/test/data/user.ts
  duplo/test/data/userToOrganization.ts
  vue/src/domains/admin/composables/useGetOganizations.ts
  vue/src/domains/admin/pages/HomeAdminPanel.vue
  vue/src/domains/admin/pages/OrganizationsAdminPanel.vue
  vue/src/domains/admin/pages/UsersAdminPanel.vue
  vue/src/domains/admin/router.ts
  vue/src/domains/organization/composables/useGetOrganizationUsers.ts
  vue/src/domains/organization/composables/useOrganizationId.ts
  vue/src/domains/organization/composables/useOrganizationUserAddForm.ts
  vue/src/domains/organization/composables/useOrganizationUserEditForm.ts
  vue/src/domains/organization/pages/ManageUserOrganization.vue
  vue/src/domains/organization/router.ts
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
  vue/src/lib/utils.ts
  vue/src/router/index.ts
  vue/src/router/routerPageName/index.ts
Labels: WIP

#70 feat(69): multi combobox
  vue/auto-imports.d.ts
  vue/components.d.ts
  vue/src/components/ClosingTag.vue
  vue/src/components/MultiComboBox.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
Labels: WIP

#82 feat(56): add validation popup
  vue/components.d.ts
  vue/src/components/WithValidation.vue
Labels: feat, front

#87 feat(42): loader (front)
  vue/components.d.ts
  vue/src/App.vue
  vue/src/components/ThePopup.vue
  vue/src/components/TheSpinner.vue
  vue/src/components/loader/TheLoader.vue
  vue/src/components/loader/useLoader.ts
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/duploTo/index.ts
  vue/src/lib/loader/index.ts
  vue/src/router/index.ts
Labels: feat, front, WIP

#85 feat(54): add product by STORE_KEEPER
  duplo/src/checkers/product.test.ts
  duplo/src/checkers/product.ts
  duplo/src/prisma/schema.prisma
  duplo/src/routes/organization/{organizationId}/index.test.ts
  duplo/src/routes/organization/{organizationId}/logo/index.test.ts
  duplo/src/routes/organization/{organizationId}/products.test.ts
  duplo/src/routes/organization/{organizationId}/products.ts
  duplo/src/routes/product-sheet/{productSheetId}/product/index.test.ts
  duplo/src/routes/product-sheet/{productSheetId}/product/index.ts
  duplo/src/routes/product/{sku}.test.ts
  duplo/src/routes/product/{sku}.ts
  duplo/src/schemas/product.ts
  duplo/src/security/hasOrganizationRole/bySku.test.ts
  duplo/src/security/hasOrganizationRole/bySku.ts
  duplo/test/data/product.ts
  vue/components.d.ts
  vue/src/components/TheSheep.vue
  vue/src/components/WithValidation.vue
  vue/src/domains/organization/components/OrganizationNavbar.vue
  vue/src/domains/organization/composables/useGetPorducts.ts
  vue/src/domains/organization/composables/useGetProductSheets.ts
  vue/src/domains/organization/composables/useGetWarehouses.ts
  vue/src/domains/organization/composables/useProductForm.ts
  vue/src/domains/organization/pages/ProductSheets.vue
  vue/src/domains/organization/pages/ProductsOrganization.vue
  vue/src/domains/organization/router.ts
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
  vue/src/lib/utils.ts
Labels: feat
