Repository mathcovax/mon-enorme-tronc, pull requests merged in 2024-04, with the labels that each got.

#18 fix(17): readme wording
  readme.md
Labels: documentation, enhancement

#33 feat(27): ci check title and auto labeler
  .github/check-title.json
  .github/labeler.yml
  .github/workflows/auto-label.yml
  .github/workflows/check-title.yml
  .github/workflows/duplo.yml
  .github/workflows/lint-duplo.yml
  .github/workflows/lint-vue.yml
  .github/workflows/types-duplo.yml
  .github/workflows/vue.yml
  duplo/vitest.config.ts
Labels: ci

#24 feat(23): add global toasts
  vue/auto-imports.d.ts
  vue/components.d.ts
  vue/src/App.vue
  vue/src/assets/main.css
  vue/src/components/ui/toast/TheToast.vue
  vue/src/components/ui/toast/TheToaster.vue
  vue/src/components/ui/toast/ToastAction.vue
  vue/src/components/ui/toast/ToastClose.vue
  vue/src/components/ui/toast/ToastDescription.vue
  vue/src/components/ui/toast/ToastProvider.vue
  vue/src/components/ui/toast/ToastTitle.vue
  vue/src/components/ui/toast/ToastViewport.vue
  vue/src/components/ui/toast/index.ts
  vue/src/components/ui/toast/use-toast.ts
  vue/src/composables/toast/defaultToast.ts
  vue/src/composables/toast/errorToast.ts
  vue/src/composables/toast/successToast.ts
  vue/tailwind.config.js
  vue/vite.config.ts
Labels: feat
