Repository mathcovax/mon-enorme-tronc, pull requests merged in 2024-06, with the labels that each got.

#93 feat(89): Navbar client
  vue/components.d.ts
  vue/src/App.vue
  vue/src/components/ui/accordion/AccordionContent.vue
  vue/src/components/ui/accordion/AccordionItem.vue
  vue/src/components/ui/accordion/AccordionTrigger.vue
  vue/src/components/ui/accordion/TheAccordion.vue
  vue/src/components/ui/accordion/index.ts
  vue/src/components/ui/navigation-menu/NavigationMenu.vue
  vue/src/components/ui/navigation-menu/NavigationMenuContent.vue
  vue/src/components/ui/navigation-menu/NavigationMenuIndicator.vue
  vue/src/components/ui/navigation-menu/NavigationMenuItem.vue
  vue/src/components/ui/navigation-menu/NavigationMenuLink.vue
  vue/src/components/ui/navigation-menu/NavigationMenuList.vue
  vue/src/components/ui/navigation-menu/NavigationMenuTrigger.vue
  vue/src/components/ui/navigation-menu/NavigationMenuViewport.vue
  vue/src/components/ui/navigation-menu/index.ts
  vue/src/domains/content/composables/useNavigationItemForm.ts
  vue/src/domains/navigation/components/MobileNavbar.vue
  vue/src/domains/navigation/components/TheFooter.vue
  vue/src/domains/navigation/components/TheHeader.vue
  vue/src/domains/navigation/components/TheNavbar.vue
  vue/src/domains/navigation/composables/useGetNavigationBar.ts
  vue/src/domains/organization/pages/EditOrganization.vue
  vue/src/domains/organization/pages/ProductsOrganization.vue
  vue/src/domains/product/pages/CategoryPage.vue
  vue/src/domains/product/pages/ProductsPage.vue
  vue/src/domains/product/router.ts
  vue/src/domains/user/pages/UserOrganizations.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
  vue/src/lib/utils.ts
  vue/src/router/index.ts
  vue/src/router/routerPageName/index.ts
Labels: feat, front, WIP

#98 feat(97): add To-Do list
  to-do-list
Labels: docs

#94 feat(91): Indexation des products
  .gitignore
  docker-compose.yml
  duplo/.env
  duplo/package.json
  duplo/src/checkers/facet.test.ts
  duplo/src/checkers/facet.ts
  duplo/src/filesDB/.gitkeep
  duplo/src/mongoose/model.ts
  duplo/src/prisma/hooks/onUpdateProductSheetSlice.ts
  duplo/src/prisma/schema.prisma
  duplo/src/providers/mongoose.ts
  duplo/src/providers/prisma.ts
  duplo/src/routes/full-product-sheet/{id}.test.ts
  duplo/src/routes/full-product-sheet/{id}.ts
  duplo/src/routes/full-product-sheets/index.test.ts
  duplo/src/routes/full-product-sheets/index.ts
  duplo/src/routes/product-sheet/{productSheetId}.test.ts
  duplo/src/routes/product-sheet/{productSheetId}.ts
  duplo/src/routes/product-sheet/{productSheetId}/facet/index.test.ts
  duplo/src/routes/product-sheet/{productSheetId}/facet/index.ts
  duplo/src/routes/product-sheet/{productSheetId}/facet/{facetType}.test.ts
  duplo/src/routes/product-sheet/{productSheetId}/facet/{facetType}.ts
  duplo/src/routes/product-sheet/{productSheetId}/facets.test.ts
  duplo/src/routes/product-sheet/{productSheetId}/facets.ts
  duplo/src/routes/user/{userId}/index.admin.ts
  duplo/src/schemas/facet.ts
  duplo/src/schemas/fullProductSheet.ts
  duplo/src/scripts/indexing.ts
  duplo/src/scripts/mongoose.ts
  duplo/src/scripts/prismaClient.ts
  duplo/src/scripts/setup.ts
  duplo/src/utils/findSlice.ts
  duplo/src/utils/types.d.ts
  duplo/src/utils/zodToMongooseSchema.ts
  duplo/test/data/facet.ts
  duplo/test/data/fullProductSheet.ts
  duplo/test/data/productSheet.ts
  duplo/tsconfig.json
  duplo/vitest.config.ts
  package-lock.json
  package.json
  vue/src/composables/useFormBuilder/index.ts
  vue/src/domains/organization/components/FacetsForm.vue
  vue/src/domains/organization/composables/useProductSheetForm.ts
  vue/src/domains/organization/pages/CreateProductSheet.vue
  vue/src/domains/organization/pages/EditProductSheet.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
  vue/src/lib/utils.ts
Labels: WIP, package

#96 feat(90): add new globals components : carousel, slider and section
  duplo/package.json
  duplo/src/fixtures/entities/category.ts
  duplo/src/fixtures/entities/image_product_sheet.ts
  duplo/src/fixtures/entities/parent_category.ts
  duplo/src/fixtures/entities/product.ts
  duplo/src/fixtures/entities/user_to_organization.ts
  duplo/src/fixtures/entities/warehouse.ts
  duplo/src/fixtures/index.ts
  vue/components.d.ts
  vue/src/components/TheCarousel/ButtonCarousel.vue
  vue/src/components/TheCarousel/TheCarousel.vue
  vue/src/components/TheSection.vue
  vue/src/components/TheSlider.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
Labels: feat, front, WIP

#103 feat(99): add panier front, post /user/article, delete /article/{prod…
  duplo/src/checkers/article.test.ts
  duplo/src/checkers/article.ts
  duplo/src/prisma/schema.prisma
  duplo/src/routes/article/index.ts
  duplo/src/routes/article/{productSheetId}/index.ts
  duplo/src/routes/cart/index.ts
  duplo/src/schemas/article.ts
  duplo/src/schemas/cart.ts
  duplo/src/schemas/productSheet.ts
  duplo/src/services/productAvailability.ts
  duplo/test/data/article.ts
  vue/src/domains/user/components/ArticleCard.vue
  vue/src/domains/user/composables/useGetCart.ts
  vue/src/domains/user/pages/CartPage.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
  vue/src/lib/utils.ts
Labels: feat, front, back, WIP

#104 feat(100): add mail catcher and mailService
  docker-compose.yml
  duplo/.env
  duplo/package.json
  duplo/src/env.ts
  duplo/src/services/mail.ts
  package-lock.json
Labels: feat, back

#108 feat(107): ProductCard, ProductPage
  duplo/.env
  duplo/src/env.ts
  duplo/src/prisma/schema.prisma
  duplo/src/providers/MetConfig.ts
  duplo/src/providers/stripe.ts
  duplo/src/routes/article/index.ts
  duplo/src/routes/article/{productSheetId}/index.ts
  duplo/src/routes/make-command/index.ts
  duplo/src/routes/navigation-item/index.ts
  duplo/src/routes/parent-category/{parentCategoryName}/category/index.ts
  duplo/src/routes/product-sheet/{productSheetId}/category/index.ts
  duplo/src/routes/product-sheet/{productSheetId}/image.ts
  duplo/src/schemas/article.ts
  duplo/src/security/mustBeConnected.test.ts
  duplo/src/security/mustBeConnected.ts
  duplo/src/services/cart.ts
  duplo/src/services/productAvailability.ts
  duplo/src/services/stripe.ts
  duplo/test/data/article.ts
  duplo/test/setup.ts
  package-lock.json
  package.json
  vue/components.d.ts
  vue/src/components/PrimaryRadioGroup.vue
  vue/src/components/TheCarousel/TheCarousel.vue
  vue/src/components/WithValidation.vue
  vue/src/components/ui/badge/TheBadge.vue
  vue/src/components/ui/badge/index.ts
  vue/src/domains/navigation/components/TheHeader.vue
  vue/src/domains/product/components/CheckboxFilter.vue
  vue/src/domains/product/components/ProductCard.vue
  vue/src/domains/product/components/ProductSheetQuantity.vue
  vue/src/domains/product/components/ProductSlider.vue
  vue/src/domains/product/components/TheFilters.vue
  vue/src/domains/product/pages/CategoriesPage.vue
  vue/src/domains/product/pages/ProductPage.vue
  vue/src/domains/product/pages/ProductsPage.vue
  vue/src/domains/user/components/ArticleCard.vue
  vue/src/domains/user/components/CommandSteps.vue
  vue/src/domains/user/composables/useGetCart.ts
  vue/src/domains/user/composables/useUserCommandForm.ts
  vue/src/domains/user/pages/CartPage.vue
  vue/src/domains/user/pages/CommandPage.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
Labels: feat, front, back, WIP, package

#114 feat(105): commande
  .gitignore
  docker-compose.yml
  duplo/.env
  duplo/.env.local.exemple
  duplo/package.json
  duplo/src/checkers/command.ts
  duplo/src/env.ts
  duplo/src/prisma/schema.prisma
  duplo/src/providers/MetConfig.ts
  duplo/src/providers/stripe.ts
  duplo/src/routes/article/index.ts
  duplo/src/routes/article/{productSheetId}/index.ts
  duplo/src/routes/entry.ts
  duplo/src/routes/make-command/index.ts
  duplo/src/routes/register/index.ts
  duplo/src/routes/retry-command/index.ts
  duplo/src/routes/stripe-webhook/checkout.ts
  duplo/src/schemas/product.ts
  duplo/src/schemas/session.ts
  duplo/src/scripts/indexingProductSheet.ts
  duplo/src/scripts/setup/index.ts
  duplo/src/scripts/setup/mongoose.ts
  duplo/src/scripts/setup/prismaClient.ts
  duplo/src/services/cart.ts
  duplo/src/services/productAvailability.ts
  duplo/test/data/article.ts
  duplo/test/data/product.ts
  package.json
  stripe/cp.sh
  stripe/listen.sh
  stripe/trigger.sh
  vue/src/domains/organization/pages/ProductsOrganization.vue
  vue/src/domains/payment/components/OrderCard.vue
  vue/src/domains/payment/components/OrderSteps.vue
  vue/src/domains/payment/pages/OrderPage.vue
  vue/src/domains/payment/router.ts
  vue/src/domains/product/components/CategoryCard.vue
  vue/src/domains/product/pages/ProductPage.vue
  vue/src/domains/user/components/ArticleCard.vue
  vue/src/domains/user/composables/useGetCart.ts
  vue/src/domains/user/composables/useUserCommandForm.ts
  vue/src/domains/user/pages/CartPage.vue
  vue/src/domains/user/pages/CommandPage.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
  vue/src/lib/utils.ts
  vue/src/router/index.ts
  vue/src/router/routerPageName/index.ts
  vue/src/stores/user.ts
Labels: WIP, package

#116 feat(109): Navigation Bar (search bar suggestion)
  duplo/src/routes/full-product-sheets/index.ts
  duplo/src/schemas/fullProductSheet.ts
  vue/src/domains/admin/components/AdminMobileNavbar.vue
  vue/src/domains/auth/pages/LoginPage.vue
  vue/src/domains/auth/pages/RegisterPage.vue
  vue/src/domains/content/components/ContentMobileNavbar.vue
  vue/src/domains/edito/pages/HomePage.vue
  vue/src/domains/edito/pages/NotFound.vue
  vue/src/domains/navigation/components/MobileNavbar.vue
  vue/src/domains/navigation/components/MobileSearch.vue
  vue/src/domains/navigation/components/TheHeader.vue
  vue/src/domains/navigation/components/TheSearch.vue
  vue/src/domains/organization/components/OrganizationMobileNavbar.vue
  vue/src/domains/payment/pages/OrderPage.vue
  vue/src/domains/product/pages/CategoriesPage.vue
  vue/src/domains/product/pages/ProductPage.vue
  vue/src/domains/product/pages/ProductsPage.vue
  vue/src/domains/user/pages/CartPage.vue
  vue/src/domains/user/pages/EditProfil.vue
  vue/src/domains/user/pages/UserOrganizations.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
  vue/tailwind.config.js
Labels: feat, front, back, WIP

#117 feat(115): commands panel
  .gitignore
  duplo/package.json
  duplo/src/filesDB/.gitignore
  duplo/src/filesDB/.gitkeep
  duplo/src/fixtures/entities/product.ts
  duplo/src/fixtures/entities/product_sheet.ts
  duplo/src/fixtures/index.ts
  duplo/src/prisma/hooks/onUpdateProductSheetSlice.ts
  duplo/src/prisma/schema.prisma
  duplo/src/routes/entry.test.ts
  duplo/src/routes/entry.ts
  duplo/src/routes/organization/{organizationId}/commands/index.ts
  duplo/src/routes/organization/{organizationId}/commands/{commandId}/details.ts
  duplo/src/routes/organization/{organizationId}/commands/{commandId}/make-bundle.ts
  duplo/src/routes/organization/{organizationId}/product-sheet.test.ts
  duplo/src/routes/organization/{organizationId}/product-sheet.ts
  duplo/src/routes/organization/{organizationId}/products.test.ts
  duplo/src/routes/organization/{organizationId}/products.ts
  duplo/src/routes/product-sheet/{productSheetId}.ts
  duplo/src/routes/product-sheet/{productSheetId}/product/index.test.ts
  duplo/src/routes/product-sheet/{productSheetId}/product/index.ts
  duplo/src/routes/product-sheet/{productSheetId}/warehouse.ts
  duplo/src/routes/product/{sku}.test.ts
  duplo/src/routes/product/{sku}.ts
  duplo/src/schemas/organizationCommand.ts
  duplo/src/schemas/product.ts
  duplo/src/schemas/productSheet.ts
  duplo/src/scripts/indexingProductSheet.ts
  duplo/src/scripts/readNotifications.ts
  duplo/src/scripts/setup/lastTime.ts
  duplo/src/security/hasOrganizationRole/byOrganizationId.test.ts
  duplo/src/security/hasOrganizationRole/byOrganizationId.ts
  duplo/src/utils/prisma/product.ts
  duplo/test/data/product.ts
  duplo/test/data/productSheet.ts
  package.json
  vue/src/components/PrimaryComboBox.vue
  vue/src/components/ThePopup.vue
  vue/src/domains/navigation/components/MobileSearch.vue
  vue/src/domains/navigation/components/TheSearch.vue
  vue/src/domains/organization/components/OrganizationNavbar.vue
  vue/src/domains/organization/composables/useBundleForm.ts
  vue/src/domains/organization/composables/useGetCommands.ts
  vue/src/domains/organization/composables/useGetPorducts.ts
  vue/src/domains/organization/composables/useProductForm.ts
  vue/src/domains/organization/composables/useProductSheetForm.ts
  vue/src/domains/organization/pages/CommandsOrganization.vue
  vue/src/domains/organization/pages/CreateProductSheet.vue
  vue/src/domains/organization/pages/EditProductSheet.vue
  vue/src/domains/organization/pages/ProductsOrganization.vue
  vue/src/domains/organization/router.ts
  vue/src/domains/product/components/ProductSheetQuantity.vue
  vue/src/domains/product/pages/ProductsPage.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
  vue/src/lib/utils.ts
Labels: WIP, package
