Repository mathcovax/mon-enorme-tronc, pull requests merged in 2024-07, with the labels that each got.

#121 feat(120): follow bundle
  duplo/.env
  duplo/package.json
  duplo/src/checkers/bundle.ts
  duplo/src/env.ts
  duplo/src/filesDB/.gitignore
  duplo/src/main.ts
  duplo/src/mocks/laPoste.ts
  duplo/src/prisma/schema.prisma
  duplo/src/providers/MetConfig.ts
  duplo/src/routes/bundles/{bundleId}.ts
  duplo/src/routes/bundles/{bundleId}/stream.ts
  duplo/src/routes/cart/index.ts
  duplo/src/routes/entry.ts
  duplo/src/routes/organization/{organizationId}/commands/{commandId}/make-bundle.ts
  duplo/src/schemas/bundle.ts
  duplo/src/scripts/followBundle.ts
  duplo/src/scripts/indexingProductSheet.ts
  duplo/src/scripts/readNotifications.ts
  duplo/src/scripts/setup/index.ts
  duplo/src/scripts/setup/promiseList.ts
  duplo/src/security/userBelongsBundle.ts
  duplo/src/services/carriers/laPost.ts
  duplo/src/services/search.ts
  duplo/src/services/stripe.ts
  duplo/src/utils/SSEAbstractRoute.ts
  nginx.conf
  package-lock.json
  package.json
  vue/components.d.ts
  vue/src/components/ProductImage.vue
  vue/src/domains/user/composables/useGetBundle.ts
  vue/src/domains/user/pages/BundlePage.vue
  vue/src/domains/user/router.ts
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
  vue/src/lib/utils.ts
Labels: WIP, package

#119 feat(112): refacto front
  duplo/src/routes/categories-count/index.test.ts
  duplo/src/routes/categories-count/index.ts
  duplo/src/routes/categories/index.test.ts
  duplo/src/routes/categories/index.ts
  vue/src/domains/organization/components/OrganizationMobileNavbar.vue
  vue/src/domains/organization/components/OrganizationNavbar.vue
  vue/src/domains/organization/pages/CommandsOrganization.vue
  vue/src/domains/organization/pages/EditOrganization.vue
  vue/src/domains/organization/pages/PromotionsOrganization.vue
  vue/src/domains/product/components/ProductPagination.vue
  vue/src/domains/product/composables/useGetCategories.ts
  vue/src/domains/product/composables/useGetCategoriesCount.ts
  vue/src/domains/product/pages/CategoriesPage.vue
  vue/src/domains/product/pages/ProductsPage.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
Labels: front

#128 feat(111): Pages Editos
  duplo/src/routes/full-product-sheets/index.ts
  duplo/src/services/filter.ts
  duplo/src/utils/mongoose/productSheetsQuantityComputedPiplineStageByFiltersDefs.ts
  vue/public/images/hero.png
  vue/public/images/login.png
  vue/public/images/register.png
  vue/src/domains/auth/pages/LoginPage.vue
  vue/src/domains/auth/pages/RegisterPage.vue
  vue/src/domains/edito/pages/HomePage.vue
  vue/src/domains/navigation/components/MobileSearch.vue
  vue/src/domains/navigation/components/TheSearch.vue
  vue/src/domains/product/components/ProductSuggestion.vue
  vue/src/domains/product/composables/useGetFullProductSheets.ts
  vue/src/domains/product/pages/ProductPage.vue
  vue/src/domains/product/pages/ProductsPage.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
Labels: feat, front, back, WIP

#132 feat(131): offline cart
  duplo/src/scripts/indexingProductSheet.ts
  vue/auto-imports.d.ts
  vue/src/domains/auth/pages/LoginPage.vue
  vue/src/domains/auth/pages/RegisterPage.vue
  vue/src/domains/product/pages/ProductPage.vue
  vue/src/domains/user/pages/CartPage.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/main.ts
  vue/src/stores/cart.ts
Labels: WIP

#135 feat(134): promotions reason
  duplo/.env
  duplo/.env.local.exemple
  duplo/src/env.ts
  duplo/src/prisma/schema.prisma
  duplo/src/routes/product-sheet/{productSheetId}/promotions/index.ts
  duplo/src/schemas/fullProductSheet.ts
  duplo/src/schemas/promotion.ts
  duplo/src/scripts/indexingProductSheet.ts
  duplo/src/services/cart.ts
  duplo/src/services/mail.ts
  vue/src/domains/organization/composables/usePromotionAddForm.ts
  vue/src/domains/organization/pages/PromotionsOrganization.vue
  vue/src/domains/product/pages/ProductPage.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
Labels: WIP

#133 feat(129): Alerts
  duplo/src/prisma/schema.prisma
  duplo/src/routes/user/index.test.ts
  duplo/src/routes/user/index.ts
  duplo/src/schemas/user.ts
  duplo/test/data/user.ts
  vue/src/composables/useFormBuilder/_inputs/CheckboxInput.ts
  vue/src/domains/navigation/components/AccountDropdown.vue
  vue/src/domains/navigation/components/NotificationsDropdown.vue
  vue/src/domains/navigation/components/TheHeader.vue
  vue/src/domains/user/composables/useEditUserProfilForm.ts
  vue/src/domains/user/pages/EditProfil.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
Labels: feat, front, back, WIP

#140 feat(130): Graph stock
  duplo/package.json
  duplo/src/mongoose/model.ts
  duplo/src/routes/product-sheet/{productSheetId}.test.ts
  duplo/src/routes/product-sheet/{productSheetId}/stock-story.ts
  duplo/src/routes/product/{sku}.test.ts
  duplo/src/schemas/ProductStock.ts
  duplo/src/scripts/computeProductStock.ts
  duplo/src/scripts/setup/mongoose.ts
  package-lock.json
  package.json
  vue/components.d.ts
  vue/package.json
  vue/src/assets/main.css
  vue/src/components/ui/chart-line/LineChart.vue
  vue/src/components/ui/chart-line/index.ts
  vue/src/components/ui/chart/ChartCrosshair.vue
  vue/src/components/ui/chart/ChartLegend.vue
  vue/src/components/ui/chart/ChartSingleTooltip.vue
  vue/src/components/ui/chart/ChartTooltip.vue
  vue/src/components/ui/chart/index.ts
  vue/src/components/ui/chart/interface.ts
  vue/src/domains/organization/composables/useBundleForm.ts
  vue/src/domains/organization/composables/useGetProductStockStory.ts
  vue/src/domains/organization/composables/useGetProducts.ts
  vue/src/domains/organization/composables/useProductReturnForm.ts
  vue/src/domains/organization/pages/ProductsOrganization.vue
  vue/src/domains/product/components/TheRate.vue
  vue/src/domains/product/pages/ProductPage.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/utils.ts
Labels: feat, front, back, package

#145 feat(142): add newsletters
  duplo/src/checkers/newsletter.ts
  duplo/src/prisma/schema.prisma
  duplo/src/routes/newsletter/index.ts
  duplo/src/routes/newsletter/{newsletterId}/index.ts
  duplo/src/routes/newsletters/index.test.ts
  duplo/src/routes/newsletters/index.ts
  duplo/src/schemas/newsletter.ts
  duplo/test/data/newsletter.ts
  vue/src/domains/content/components/ContentMobileNavbar.vue
  vue/src/domains/content/components/ContentNavbar.vue
  vue/src/domains/content/composables/useGetNewsletters.ts
  vue/src/domains/content/composables/useNewsletterForm.ts
  vue/src/domains/content/composables/useSearchNewsletters.ts
  vue/src/domains/content/pages/NewslettersContentPanel.vue
  vue/src/domains/content/router.ts
  vue/src/domains/navigation/components/TheHeader.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
  vue/src/lib/utils.ts
Labels: feat, front, back

#149 feat(148): download user data
  duplo/src/prisma/schema.prisma
  duplo/src/providers/MetConfig.ts
  duplo/src/routes/make-command/index.ts
  duplo/src/routes/organization/{organizationId}/product-returns/index.ts
  duplo/src/routes/product-returns/{productReturnId}/refound.ts
  duplo/src/routes/user/pull-data.ts
  duplo/src/services/cart.ts
  duplo/src/services/mail.ts
  duplo/src/utils/AfterSendAbstractRoute.ts
  duplo/test/data/user.ts
  vue/src/domains/organization/pages/ProductsOrganization.vue
  vue/src/domains/user/pages/EditProfil.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
Labels: WIP

#144 feat(127): Add notifications
  duplo/package.json
  duplo/src/checkers/notification.ts
  duplo/src/filesDB/.gitignore
  duplo/src/mongoose/model.ts
  duplo/src/prisma/schema.prisma
  duplo/src/routes/commands/index.ts
  duplo/src/routes/product-notifications/index.ts
  duplo/src/routes/product-notifications/{notificationId}/index.ts
  duplo/src/routes/user/notifications/index.ts
  duplo/src/schemas/userNotification.ts
  duplo/src/scripts/computeProductStock.ts
  duplo/src/scripts/followBundle.ts
  duplo/src/scripts/indexingProductSheet.ts
  duplo/src/scripts/notifications/newProductInCategory.ts
  duplo/src/scripts/notifications/productNoStock.ts
  duplo/src/scripts/notifications/productPromotion.ts
  duplo/src/scripts/notifications/productRestock.ts
  duplo/src/scripts/notificationsMailer/newProductInCategory.ts
  duplo/src/scripts/notificationsMailer/productPromotion.ts
  duplo/src/scripts/notificationsMailer/productRestock.ts
  duplo/src/scripts/readNotifications.ts
  duplo/src/scripts/setup/mongoose.ts
  duplo/src/services/mail.ts
  package.json
  vue/components.d.ts
  vue/src/domains/navigation/components/NotificationsDropdown.vue
  vue/src/domains/organization/composables/useProductSheetForm.ts
  vue/src/domains/organization/pages/ProductsOrganization.vue
  vue/src/domains/product/components/CategoryCard.vue
  vue/src/domains/product/components/TheFilters.vue
  vue/src/domains/product/composables/useGetSusbcribedNotifications.ts
  vue/src/domains/product/pages/CategoriesPage.vue
  vue/src/domains/product/pages/ProductPage.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
  vue/src/lib/utils.ts
Labels: WIP, package

#153 feat(152): mails
  duplo/src/routes/make-command/index.ts
  duplo/src/routes/register/index.test.ts
  duplo/src/routes/register/index.ts
  duplo/src/scripts/notificationsMailer/newProductInCategory.ts
  duplo/src/scripts/notificationsMailer/newsletter.ts
  duplo/src/scripts/notificationsMailer/productPromotion.ts
  duplo/src/scripts/notificationsMailer/productRestock.ts
  duplo/src/scripts/readNotifications.ts
  duplo/src/services/carriers/laPost.ts
  duplo/src/services/mail.ts
  duplo/src/templates/bundle/arrived.ts
  duplo/src/templates/bundle/created.ts
  duplo/src/templates/command/canceled.ts
  duplo/src/templates/command/confirmed.ts
  duplo/src/templates/command/created.ts
  duplo/src/templates/index.ts
  duplo/src/templates/newsletter.ts
  duplo/src/templates/notifications/newProductInCategory.ts
  duplo/src/templates/notifications/productPromotion.ts
  duplo/src/templates/notifications/productRestock.ts
  duplo/src/templates/welcome.ts
  vue/public/favicon.ico
  vue/src/domains/auth/composables/useSignUpForm.ts
  vue/src/domains/auth/pages/RegisterPage.vue
  vue/src/domains/content/pages/NewslettersContentPanel.vue
  vue/src/domains/user/composables/useEditUserProfilForm.ts
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
Labels: feat, front, back, WIP

#154 feat(152): hf
  duplo/package.json
  duplo/src/prisma/schema.prisma
  duplo/src/routes/make-command/index.ts
  duplo/src/routes/organization/{organizationId}/commands/{commandId}/make-bundle.ts
  duplo/src/routes/register/index.ts
  duplo/src/scripts/followBundle.ts
  duplo/src/scripts/notificationsMailer/newProductInCategory.ts
  duplo/src/scripts/notificationsMailer/newsletter.ts
  duplo/src/scripts/notificationsMailer/productPromotion.ts
  duplo/src/scripts/notificationsMailer/productRestock.ts
  duplo/src/scripts/readNotifications.ts
  duplo/src/scripts/setup/promiseList.ts
  duplo/src/services/carriers/laPost.ts
  duplo/src/templates/baseTemplate.ts
  duplo/src/templates/bundle/arrived.ts
  duplo/src/templates/bundle/created.ts
  duplo/src/templates/command/canceled.ts
  duplo/src/templates/command/confirmed.ts
  duplo/src/templates/command/created.ts
  duplo/src/templates/newsletter.ts
  duplo/src/templates/notifications/newProductInCategory.ts
  duplo/src/templates/notifications/productPromotion.ts
  duplo/src/templates/notifications/productRestock.ts
  duplo/src/templates/welcome.ts
  package.json
  vue/index.html
  vue/src/domains/admin/pages/HomeAdminPanel.vue
  vue/src/domains/auth/composables/useSignUpForm.ts
  vue/src/domains/content/pages/HomeContentPanel.vue
  vue/src/domains/moderator/pages/HomeModeratorPanel.vue
  vue/src/domains/organization/pages/ManageUserOrganization.vue
  vue/src/domains/product/components/CategoryCard.vue
  vue/src/domains/user/composables/useEditUserProfilForm.ts
  vue/src/domains/user/composables/useUserCommandForm.ts
  vue/src/domains/user/pages/CommandsPage.vue
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
  vue/src/lib/i18n/languages/fr.ts
Labels: WIP, package

#156 fix(110): fix fixture full command item
  duplo/src/fixtures/entities/fullCommandItem.ts
  duplo/src/fixtures/mongo.ts
  vue/src/lib/duploTo/EnrichedDuploTo.d.ts
Labels: WIP
